<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/css/navbarStyles.css">

  <link rel="stylesheet" href="/css/videoStyles.css">
  <link rel="stylesheet" href="/css/dashboardStyles.css">

</head>

<body>
  <%- include ('../partials/header-sidebar.ejs') -%>

    <div class="main-content">

      <div class="container1" style="width: 98%;height: 100%; ">
        <div class="dashboard-user-data">
          <div>
            <h2 style="text-align: start;">Welcome,</h2>
            <div
              style="display: flex; flex-direction: row; margin-top: 20px;  border-bottom: 3px solid rgb(194, 144, 144);">
              <div
                style="border-radius: 20px; width: 40px; height: 40px; border: 1px solid rgb(110, 110, 110); overflow: hidden; display: flex; align-items: center; justify-content: center; font-size: 24px; font-weight: 600; color: rgb(242, 227, 227); background-color: rgb(58, 56, 56);">
                <%= user.username.charAt(0).toUpperCase() %>
              </div>
              <div style="margin: 20px; font-size: 18px; font-weight: 500;">
                <p>Username: <span style="color: rgb(28, 27, 27);">
                    <%= user.username %>
                  </span> </p>
              </div>

            </div>
          </div>
          <div class="user-data-main">
            <p class="user-data">Email: <%= user.email %>
            </p>
            <p class="user-data">UserID: <%= user._id %>
            </p>
            <p class="user-data">Login Role: <%= user.role %>
            </p>
          </div>
          <div class="user-button">

            <a href="/logout"> <button class="btn">
                <img src="/icons/icons8-logout-50.png" alt="Card Image" width="30px" height="30px"
                  style="padding-top: 4px;"></button></a>
            <label>Logout</label>
            </button></a>
          </div>
        </div>
      </div>
      <div class="line">

      </div>
      <% if (user.role==='admin' ) {%>
        <div class="container1" style="width: 98%;height: 100%;  ">

          <div class="upload-form-main">
            <div class="upload-container js-upload-container" style="padding: 16px;">
              Upload Content
              <img src="/icons/click.png" class="click-icon" width="23" height="22" />
            </div>

            <ul class=" js-upload-main ">


            </ul>

          </div>


          <div class="dashboard-sidebar js-dashboard-sidebar ">
          </div>

        </div>
        <%}%>
    </div>
    <%- include ('../partials/footer.ejs') -%>
      <script src="/js/dashboardScript.js">

      </script>
</body>

</html>

